@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


/* body{
  @apply bg-bgColorDark;
} */

body{
  background-color: #121212
}

.fontordre{
  background-image: "https://media.discordapp.net/attachments/1068131427910168670/1144387451993997322/vector-crumbled-paper-texture.png?width=724&height=1038";
}


/* Bg color change on scroll themes*/
body.dark-theme {
  background-color: #121212;
  color: white;
}

body.light-theme {
  background-color: white;
  color: rgb(11, 11, 11);
}

/* Subhero (image info container)*/
.container {
  margin: 0 auto;
  height: 400px;
  border: 1px solid transparent;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.item {
  flex-grow: 1;
  height: 400px; 
  position: relative;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.item:hover {
  flex-grow: 4;
}

.item:before {
  content: attr(data-order);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


/*Search*/
.input-search::placeholder{
  font-weight: lighter;
}


/* spinner */
.checked-drink-body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica', sans-serif;
}

#circle {
  position: relative;
  border-radius: 100%;
  padding: 16px;
  animation: rotate-animation 8s infinite linear;
}

#circle span {
  position: absolute;
  transform-origin: top left;
}

@keyframes rotate-animation {
  from { transform: rotate(0); }
  to { transform: rotate(-360deg); }
}




/* Custom Cursor*/

.circle {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #1e91d6;
  border-radius: 200px;
  pointer-events: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.cursorText {
  flex: auto;
  font-size: inherit;
  pointer-events: none;
  margin: auto;
}



.project {
  display: inline-block;
  position: relative;
  z-index: 1;
  height: 652px;
  width: 601px;
  background: #1e91d6;
  border-radius: 24px;
  cursor: none;
  background-image: url("https://cdn.discordapp.com/attachments/577203676108685331/790326977714192465/Tile_Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projectName {
  background: #fff;
  border-radius: 34px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 12px 20px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
}

.contactWrapper {
  padding: 120px;
}

.contact {
  transition: 150ms ease;
}

.add {
  transition: 150ms ease;
}

.contact:hover {
  color: #1e91d6;
  cursor: pointer;
}

/* Date */

/* Overriding default styles */
.rbc-calendar {
    font-family: 'Arial', sans-serif;
}

.rbc-btn-group {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.rbc-toolbar {
    padding: 0.5rem;
    color: white;
}

.rbc-event {
    background-color: #3498db;
    color: white;
    border-radius: 0.25rem;
    padding: 0.2rem;
    font-size: 0.8rem;
}

.rbc-today {
    background-color: #f2f2f2;
}

.rbc-month-view .rbc-date-cell {
    padding: 0.5rem;
    vertical-align: top;
}

.rbc-header {
    padding: 0.5rem;
    font-weight: 600;
}

.rbc-today {
  background-color: #3498db !important;
}


.rbc-off-range-bg {
  background: #54534E !important;
}


/* Date */

/* Overriding default styles */
.rbc-calendar {
  font-family: 'Arial', sans-serif;
}

.rbc-btn-group {
  /*margin-left: 0.5rem;*/
  margin-right: 0.5rem;
}

.rbc-toolbar {
  padding: 0.5rem;
  color: white !important;
}

.rbc-event {
  background-color: #3498db;
  color: white !important;
  border-radius: 0.25rem;
  padding: 0.2rem;
  font-size: 0.8rem;
}

.rbc-today {
  background-color: #f2f2f2;
}

.rbc-month-view .rbc-date-cell {
  padding: 0.5rem;
  vertical-align: top;
}

.rbc-header {
  padding: 0.5rem;
  font-weight: 600;
  color: white !important;
}

.rbc-today {
background-color: #3498db !important;
}


.rbc-off-range-bg {
background: #54534E !important;
color: red !important;
}

.rbc-button-link {
color: white;
}

/* Make day names white */
.rbc-header {
color: white !important;
}

/* Make dates of the current month white */
.rbc-row > .rbc-date-cell {
color: white !important;
}

/* Make dates of other months gray */
.rbc-off-range .rbc-day-bg {
background-color: transparent !important; 
}
.rbc-off-range .rbc-date-cell {
color: gray !important;
}

/* Change the color of the Today button */
.rbc-toolbar .rbc-btn-group > button:first-child {
color: white !important; /* If you need to change text color */
}

/* Change the color of the Back (previous) button */
.rbc-toolbar .rbc-btn-group > button:nth-child(2) {
color: white !important; /* If you need to change text color */
}

/* Change the color of the Next button */
.rbc-toolbar .rbc-btn-group > button:nth-child(3) {
color: white !important; /* If you need to change text color */
}

/* Change the color of the Today button on hover */
.rbc-toolbar .rbc-btn-group > button:first-child:hover {
color: black !important;
}

/* Change the color of the Back (previous) button on hover */
.rbc-toolbar .rbc-btn-group > button:nth-child(2):hover {
color: black !important;
}

/* Change the color of the Next button on hover */
.rbc-toolbar .rbc-btn-group > button:nth-child(3):hover {
color: black !important;
}

.rbc-toolbar .rbc-btn-group > button:focus {
background-color: whitesmoke !important;
color: black !important;
}